.add-task-container {
    height: auto;
    max-width: 500px;
}

.title-btn-container {
    margin-top: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 5px;
    align-items: center;
}

.description-container {
    margin: 5px 0px 10px 0px;
    display: flex;
}

#add-task-button {
    width: 100%;
    font-size: 15px;
}

.description-input {
    height: 60px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 100%;
    background-color: #444;
    color: #eee;
    font-size: 14px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.title-input {
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    flex: 2;
    background-color: #444;
    color: #eee;
    font-size: 14px;
}

.add-task-button-container {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.error {
    margin: -10px 0px 10px 0px;
    text-align: center;
    color: rgb(228, 98, 98);
    font-size: 13px;
}